body
{
    margin: 0;
    padding: 0;
    background-color: #011736;
}
.custom-navbar .nav-link, .custom-navbar
{
    color: #fff;
}
.section-box
{
    margin-top: 150px;
}
.navbar-brand
{
    margin-left: 20px;
    font-weight: 700;
}
.card
{
    margin-bottom: 80px;
    margin-top: 30px;
}
.cards
{
    max-width: 300px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
}
.card-body
{
    padding: 15px;
}
.card-title
{
    font-size: 20px;
    font-weight: 700;
}
.skil ,h2
{
    padding-left: 25px;
    margin-top: 50px;
    color: #ffffff;
    font-size: 25px;
}
.skill-img
{
    width: 100px;
    height: 120px;
    object-fit: contain;
    margin: 20px auto 0;
    display: block;
}
